<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Last Hope Console</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- Including jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./../js/updates.js"></script>

</head>

<body>
    <div class="container is-fluid">
        <!-- Form fields starts here-->
        <table class="table" id="content-id">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Heart rate</th>
                    <th>Last update on</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>User ID</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Heart rate</th>
                    <th>Last update on</th>
                </tr>
            </tfoot>
            <tbody id="update-container">
                
            </tbody>
        </table>
    </div>
</body>

</html>